/* Todo: add styles */
.example-arrow-class {
    /*
     * The marker-end attribute changes the style of the class to have the
     * corresponding style. By changing the class on the svg object and assigning
     * each marker-end to a different class, you'll be able to change the arrow
     * styles accordingly.
     */
    marker-end: url(#arrow-head);
    marker-end: url(#arrow-head-hovered);
    marker-end: url(#arrow-head-highlighted);
    marker-end: url(#arrow-head-highlighted-selected);
}

.container {
	display: flex;
}

#bar, #scatter {
	flex: column;
}

.arrow.selected {
  	stroke: orange;
  	stroke-width: 2.5;
  	marker-end: url(#arrow-head-highlighted-selected);
}

.arrow.highlight {
  	stroke: #aeaeca;
  	stroke-width: 2;
  	marker-end: url(#arrow-head-highlighted);
}

.point.selected {
  	fill: orange;
  	marker-end: url(#point-highlighted-selected);
}

.bar {
	opacity: 0.7;
}

.bar.selected {
  	fill: #003366;
  	marker-end: url(#bar-highlighted-selected);
}

